<h1> Bookmark list </h1>
<table>
  <thead>
    <th> title </th>
    <th> url </th>
  </thead>
  <tbody>
    <% @bookmark_list.each{ |item| %>
    <tr>
      <td>
        <%= item.title %>
      </td>
      <td>
        <%= item.url %>
      </td>
    </tr>
<% } %>
</tbody>
</table>


<form action="/bookmarks" method="post" >
  <input type="text" name="new bookmark" />
  <input type="text" name="title" />
  <input type="submit" value="submit" />
</form>
