<h1> Bookmark list </h1>
<ul>
<% @bookmark_list.each{ |item| %>
    <li><%= item %></li>
<% } %>
</ul>


<form action="/bookmarks" method="post" >
  <input type="text" name="new bookmark" />
  <input type="submit" value="submit" /> 
</form>
